@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid rgba(120, 67, 230, 0.8);
    float: left;
    font-size: 68px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
    box-shadow:   rgba(120, 67, 230, 0.8) 5px 5px,   rgba(120, 67, 230, 0.6) 10px 10px, rgba(255, 0, 255, 0.8) 15px 15px, rgba(255, 0, 255, 0.6) 20px 20px, rgba(0, 255, 255, 0.5) 25px 25px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #fff;
  }
  
  .game {
    display: flex;
    flex-direction: row;
    
  }
  
  
  .game-info {
    margin-left: 20px;
    font-family: 'Bungee', cursive;
  }
  .status-info {
    margin-left: 15px;
    font-size: 30px;
    font-family: 'Bungee', cursive;
  }
  
  .button {
    border: 1px solid rgba(120, 67, 230, 0.8);
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow:   rgba(120, 67, 230, 0.8) 5px 5px,   rgba(120, 67, 230, 0.6) 10px 10px, rgba(255, 0, 255, 0.8) 15px 15px, rgba(255, 0, 255, 0.6) 20px 20px, rgba(0, 255, 255, 0.5) 25px 25px;
    margin-top: 10px;
    font-family: 'Bungee', cursive;
  }
  